/*Global CSS definitions go here*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}
